<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
        <h1 class="mb-8 text-7xl font-bold text-[#CFAE70]">About Barn Find</h1>
        <h2 class="mt-7 p-7 leading-loose text-lg font-semibold tracking-loose text-gray-900 sm:text-4xl">We created Barn Find as a curated platform for automotive enthusiasts and collectors. Whether you're searching for a dream vehicle or exploring rare collections, Barn Find offers a top-tier experience, making it the go-to destination for buyers and collectors. </h2>
        <p class="mt-6 p-3 text-lg leading-7 text-gray-600">Find out what the hype is about.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="/signup"
                class="rounded-md animate-pulse bg-rose-300 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-rose-700 focus-visible:outline 
                focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-700">
                Join Us</a>
            <a href="/" class="text-sm font-semibold text-gray-900">Return home <span
                    aria-hidden="true">&rarr;</span></a>
        </div>
    </div>
</main>