<div class="flex w-screen h-screen text-gray-600">
    <div class="flex flex-col w-16 pb-4 border-r border-gray-200"></div>
    <div class="flex flex-col flex-grow">
        <div class="flex items-center flex-shrink-0 h-16 px-8 border-b border-gray-200">
            <h1 class="text-lg font-medium">Profile</h1>
            <label
                class="flex items-center justify-center h-10 px-4 ml-auto text-sm font-medium rounded cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer">
                    <button type="button" data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="relative ml-2 text-sm focus:outline-none group">
                <div class="flex items-center justify-between w-10 h-10 rounded hover:bg-gray-200">
                    <img class="w-5 h-5 mx-auto" src="/img/addon.png" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    </img>
                </div> 
                    </button>
                <div
                    class="relative w-11 h-6 ml-10
                    bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[#B3C9CD]
                    dark:peer-focus:ring-[#8BA18E] rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full
                    peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 
                    after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-[#777777]">
                </div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"></span>
            </label>
            <button class="relative ml-2 text-sm focus:outline-none group">
                <div class="flex items-center justify-between w-10 h-10 rounded hover:bg-gray-200">
                    <img class="w-5 h-5 mx-auto" src="/img/control.png" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    </img>
                </div>
                <div
                    class="absolute right-0 flex-col items-start hidden w-40 pb-1 bg-white border border-gray-300 shadow-lg group-focus:flex">
                    <a class="w-full px-4 py-2 text-left hover:bg-gray-200" href="#">Settings</a>
                    <a class="w-full px-4 py-2 text-left hover:bg-gray-200" href="#">Contact</a>
                </div>
            </button>
        </div>
        <div class="#">
            <div class="overflow-y-auto h-[62.5rem] bg-slate-200">
                <div class="p-4 h-screen dark:bg-gray-800">
                    <div
                        class=" lg:m-7 max-w-lg max-h-lg rounded-lg overflow-hidden lg:max-w-none lg:flex my-10 shadow-teal border-4 bg-white border-[#B3C9CD]">
                        <div class="lg:mx-auto bg-white px-6 py-8 lg:p-12 dark:bg-gray-900">
                            <h3
                                class="text-2xl text-left leading-10 font-extrabold text-gray-900 sm:text-3xl sm:leading-7 dark:text-gray-100">
                                Name of Collection
                            </h3>
                            <p class="mt-6 text-left leading-10 text-gray-500 text-lg dark:text-gray-400">
                                Make sure that the team list the whole bunch of cars that don't make sense
                            </p>
                            <div class="mt-8">
                                <div class="flex items-center">
                                    <h4
                                        class="flex-shrink-0 pr-4 bg-white text-sm  tracking-wider font-semibold uppercase text-grey-600 dark:text-[#8BA18E] dark:bg-transparent">
                                        Special Info
                                    </h4>
                                    <div class="flex-1 border-t-2 border-gray-200 dark:border-gray-700"></div>
                                </div>
                                <ul
                                    class="pl-0 mt-8 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-5 space-y-5 lg:space-y-0">
                                    <li class="flex items-start lg:col-span-1">
                                        <p class="ml-3 text-lg leading-10 text-gray-700 text-left dark:text-gray-300">
                                            150 Thousand Cars
                                        </p>
                                    </li>
                                    <li class="flex items-start lg:col-span-1">
                                        <p class="ml-3 text-lg leading-10 text-gray-700 text-left dark:text-gray-300">
                                            Never Live Sucker Free
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div
                            class="lg:ml-7 py-8 px-6 text-center bg-gray-50 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12 dark:bg-gray-900">
                            <div
                                class="my-10 lg:my-6 flex items-baseline justify-center text-5xl leading-none font-extrabold text-gray-900 dark:text-gray-100">
                                <img class="h-70 w-70 m-4" src="https://via.placeholder.com/150" alt="Product image">
                            </div>
                        </div>
                        <div
                            class="lg:mr-7 py-8 px-6 text-center bg-gray-50 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-evenly lg:p-12 dark:bg-gray-900">
                            <p
                                class="text-xl leading-6 font-medium text-gray-900 lg:max-w-xs lg:mx-auto mb-0 lg:mb-6 dark:text-gray-100">
                                Collection Inventory
                            </p>
                            <div
                                class="my-10 lg:my-6 flex items-baseline justify-center text-5xl leading-none font-extrabold text-gray-900 dark:text-gray-100">
                                <span class="font-brown">150</span>
                            </div>
                        </div>
                        <div class="lg:max-w-xs lg:mx-auto lg:my-auto flex items-baseline justify-center py-8 px-6">
                            <div class="object-center rounded-md shadow">
                                <a href="#" class="flex items-center justify-center px-5 py-3 leading-7
                                    font-medium rounded-md
                                    bg-black hover:bg-[#B3C9CD]
                                    text-white hover:text-white text-xl relative">
                                    See Collection
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</div>

<div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Create New Collection
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Collection name</label>
                        <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type collection name" required="">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">How many vehicles</label>
                        <input type="number" name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="5" required="">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
                        <select id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">Select ype of vehicle</option>
                            <option value="Car">Car</option>
                            <option value="Truck">Truck</option>
                            <option value="Suv">Suv</option>
                            <option value="Exotic">Exotic</option>
                            <option value="All">All</option>
                        </select>
                    </div>

                    <div class="col-span-2">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Special Description</label>
                        <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write collection description here"></textarea>                    
                    </div>
                    <div class="col-span-2">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Collection Description</label>
                        <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write collection description here"></textarea>                    
                    </div>
                </div>
                <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    Add new collection
                </button>
            </form>
        </div>
    </div>
</div> 