{{!-- <div class=''>
  <div class=''>
    <h2>Login</h2>

    <form id='login-form'>
      <div class=''>
        <label for=''>email:</label>
        <input class='' type='text' id='email-login' />
      </div>
      <div class=''>
        <label for=''>password:</label>
        <input class='' type='password' id='password-login' />
      </div>
      <div class=''>
        <button class='' type='submit'>login</button>
      </div>
    </form>
  </div>
  <div class=''>
    <h2>Signup</h2>

    <form id='signup-form'>
      <div class=''>
        <label for='name-signup'>first name:</label>
        <input class='' type='text' id='first-name-signup' />
      </div>
      <div class=''>
        <label for='name-signup'>last name:</label>
        <input class='' type='text' id='last-name-signup' />
      </div>
      <div class=''>
        <label for='email-signup'>email:</label>
        <input class='' type='text' id='email-signup' />
      </div>
      <div class=''>
        <label for='password-signup'>password:</label>
        <input class='' type='password' id='password-signup' />
      </div>
      <div class=''>
        <button class='' type='submit'>signup</button>
      </div>
    </form>
  </div>
</div> --}}
<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-amber-600">Go Fast</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">A Place for Collectors</p>
          <p class="mt-6 text-lg leading-8 text-gray-600">Remember to be follow the Top 3 rules of Barn Find while making sure to spread love and happiness to everyone.</p>
          <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-900">
                <img class="absolute left-1 top-1 h-5 w-5 text-grey-600" src="/img/favourite.png" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                </img>
                Plug In;.
              </dt>
              <dd class="inline">Staying connected to the community is a way for everyone to learn about news, collections for sales, and car rallies.</dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-900">
                <img class="absolute left-1 top-1 h-5 w-5 text-grey-600" src="/img/disc-brake.png" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                </img>
                Brakes To Hate.
              </dt>
              <dd class="inline">Make sure to look out for your fellow neighbor and report any bullying and hate speech.</dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-900">
                <img class="absolute left-1 top-1 h-5 w-5 text-grey-600" src="/img/fire.png" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                </img>
                Build Power.
              </dt>
              <dd class="inline">Showcase you builds, your brand, and your love for speed and power.</dd>
            </div>
          </dl>
        </div>
      </div>


      <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img class="mx-auto h-16 w-auto" src="/img/BARNFIND.png"
            alt="Your Company">
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Log into your
            account</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" action="#" method="POST">
            <div>
              <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
              <div class="mt-2">
                <input id="email" name="email" type="email" autocomplete="email" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div>
              <div class="flex items-center justify-between">
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                <div class="text-sm">
                  <a href="#" class="font-semibold text-[#B3C9CD] hover:text-[#CFAE70]">Forgot password?</a>
                </div>
              </div>
              <div class="mt-2">
                <input id="password" name="password" type="password" autocomplete="current-password" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div>
              <button type="submit"
                class="flex w-full justify-center rounded-md bg-[#8BA18E] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#9EB0A0] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#9EB0A0]">Sign
                in</button>
            </div>
          </form>

          <p class="mt-10 text-center text-sm text-gray-500">
            Not a member?
            <a href="#" class="font-semibold leading-6 text-[#B3C9CD] hover:text-[#CFAE70]">Join Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<script src='./js/login.js'></script>