<section>
    <div class="bg-white">
        {{!-- <div class="bg-video bg-cover bg-fix">
            <img src="/img/Screen Shot 2024-08-08.png" alt="hillside">
        </div> --}}
        {{!-- </div>
    <div class="relative flex items-center 
                justify-center h-screen max-h-96 overflow-hidden">
        <video src="/img/3999302-uhd_3840_2160_25fps.mp4" autoplay="{true}" loop muted className="absolute z-10 w-auto 
                    min-w-full min-h-full max-w-none">
        </video>
    </div> --}}

    <div class="relative px-6 pt-14 lg:px-8">
        <div class="landingPageImgBackground"></div>
        <div class="z-10 absolute inset-x-0 -top-40 transform-gpu overflow-hidden blur-3xl sm:-top-80"
            aria-hidden="true">
        </div>
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
            <div class="hidden sm:mb-8 sm:flex sm:justify-center z-10">
                <div
                    class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/40">
                    Announcing sign-up for Gold Rush Rally. <a href="https://goldrushrally.com/"
                        class="font-semibold text-[#CFAE70]" target="_blank"><span class="absolute inset-0"
                            aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a>
                </div>

            </div>
            <div class="relative text-center z-10">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Every Car Is Not Lost</h1>
                <p class="mt-6 text-lg leading-8 text-[#ffffff] drop-shadow-sm">Barn find is a place where you can view
                    unique cars, collections, and find rare gems that are not apart of any other platform</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="/signup"
                        class="rounded-md bg-[#E0D5C0] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#CFAE70] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Join
                        Us</a>
                    <a href="/login" class="text-sm font-semibold leading-6 text-gray-900">Log In <span
                            aria-hidden="true">→</span></a>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>

<section>
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
                <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base leading-7 text-gray-600">Worldwide Car Population</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">1.475
                        billion
                    </dd>
                </div>
                <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base leading-7 text-gray-600">Car Worldwide Production</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">94
                        million</dd>
                </div>
                <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base leading-7 text-gray-600">Cars Totaled Worldwide</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">111 million
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</section>

<section>
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Trusted by the world’s most innovative
                car brands
            </h2>
            <div
                class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                    src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor"
                    width="158" height="48">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                    src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform" width="158"
                    height="48">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                    src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple" width="158"
                    height="48">
                <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
                    src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" width="158"
                    height="48">
                <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
                    src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158"
                    height="48">
            </div>
        </div>
    </div>
</section>